.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-container {
  width: 100%;
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}